@(title: String)
<!DOCTYPE html>
<html>
    <head>
        <title>@title foo</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
    </head>
    <body>
        <div id="chat-app"></div>

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/react-0.8.0.min.js"></script>
        <script src="assets/js/JSXTransformer-0.8.0.js"></script>
        <script src="assets/js/underscore-min.js"></script>
        <script type="text/jsx" src="assets/js/react-app.js"></script>
    </body>
</html>
